registry=https://registry.npmmirror.com
strict-peer-dependencies=true
engine-strict=true
node-version=22.14.0
link-workspace-packages=true
prefer-workspace-packages=true
disallow-workspace-cycles=true
force-legacy-deploy=true
save-prefix=''
